PyPDF2
langchain==0.0.284
python-dotenv==1.0.0
streamlit==1.22.0
pandas 
numpy
matplotlib
notebook
pinecone-client 
fastapi
pydantic
uvicorn
google-generativeai
datasets
transformers
sentence-transformers
